@use 'sass:color';
// colors

// W
$white: #fcfaef;
$white-bg: #fbf8de;
// B
$black: #28261d;
$black-bg: #c5c0d2;
// U
$blue: #3f57a5;
$blue-bg: #c1d7e9;
// R
$red: #da3832;
$red-bg: #e79c72;
// G
$green: #2f734d;
$green-bg: #a3c095;

$colorless: #95a3b0;
$colorless-bg: #cabdcb;

$multicolor: #e0cc84;
$multicolor-bg: #e0cc84;

// WB
$orzhov: aaa;
// WU
$azorius: aaa;
// WR
$boros: aaa;
// WG
$selesnya: aaa;
// BU
$dimir: aaa;
// BR
$rakdos: aaa;
// BG
$golgari: aaa;
// UR
$izzet: aaa;
// UG
$simic: aaa;
// RG
$gruul: aaa;