.card-inner.texture1 {
  background-image: url('../assets/imgs/texture1.png');
}

.card-inner.texture2 {
  background-image: url('../assets/imgs/texture2.png');
}

.card-inner.texture3 {
  background-image: url('../assets/imgs/texture3.png');
}

.card-inner.texture4 {
  background-image: url('../assets/imgs/texture4.png');
}

.card-inner.texture5 {
  background-image: url('../assets/imgs/texture5.png');
}

.card-inner.texture6 {
  background-image: url('../assets/imgs/texture6.png');
}

.card-inner.texture7 {
  background-image: url('../assets/imgs/t7-w.png');
}

.card-inner.texture8 {
  background-image: url('../assets/imgs/t7-b.png');
}

.card-inner.texture9 {
  background-image: url('../assets/imgs/golden-eff.jpeg');
}