.card-inner {
  .card-image~.texture {
    height: 100%;
    width: 100%;
  }
}

.card-inner>.texture.texture1 {
  background-image: url('../assets/imgs/texture1.png');
}

.card-inner>.texture.texture2 {
  background-image: url('../assets/imgs/texture2.png');
}

.card-inner>.texture.texture3 {
  background-image: url('../assets/imgs/texture3.png');
}

.card-inner>.texture.texture4 {
  background-image: url('../assets/imgs/texture4.png');
}

.card-inner>.texture.texture5 {
  background-image: url('../assets/imgs/texture5.png');
}

.card-inner>.texture.texture6 {
  background-image: url('../assets/imgs/texture6.png');
}

.card-inner>.texture.texture7 {
  background-image: url('../assets/imgs/t7-w.png');
}

.card-inner>.texture.texture8 {
  background-image: url('../assets/imgs/t7-b.png');
}

.card-inner>.texture.texture9 {
  background-image: url('../assets/imgs/golden-eff.jpeg');
}