@use 'sass:color';
// colors

// W
$white: #fcfaef;
// B
$black: #28261d;
// U
$blue: #3f57a5;
// R
$red: #da3832;
// G
$green: #2f734d;

$colorless: #95a3b0;

$multicolor: #e0cc84;

// WB
$orzhov: aaa;
// WU
$azorius: aaa;
// WR
$boros: aaa;
// WG
$selesnya: aaa;
// BU
$dimir: aaa;
// BR
$rakdos: aaa;
// BG
$golgari: aaa;
// UR
$izzet: aaa;
// UG
$simic: aaa;
// RG
$gruul: aaa;



.card-wrapper {
  display: block;
  position: relative;
  z-index: 6;

  &.black-border {
    background-color: black;
    border: solid 3mm black;
    font-family: 'Beleren';

    & .card-name {
      font-family: 'BelerenCaps';
    }

    & .card-description {
      font-family: 'Plantin';
      font-weight: normal;

      & .flavor {
        font-style: italic;
      }
    }

    div.card-footer {
      color: white;
    }
  }

  &.white-border {
    background-color: white;
    border: solid 3mm white;
    font-family: 'Medieval';

    & .card-description {
      font-family: 'Plantin';
      font-weight: normal;

      & .flavor {
        font-style: italic;
      }
    }

    div.card-footer {
      color: black;
    }
  }

  &.silver-border {
    background-color: rgb(192, 182, 182);
    border: solid 3mm rgb(192, 182, 182);
    font-family: 'Beleren';

    & .card-description {
      font-family: 'Plantin';
      font-weight: normal;

      & .flavor {
        font-style: italic;
      }
    }
  }

  &.golden-border {
    background-color: rgb(175, 167, 118);
    border: solid 3mm rgb(175, 167, 118);
    font-family: 'Beleren';

    & .card-description {
      font-family: 'Plantin';
      font-weight: normal;

      & .flavor {
        font-style: italic;
      }
    }
  }

  height: 3.5in;
  width: 2.5in;
  border-radius: 3mm;

  .card-inner {
    display: block;
    border-top-left-radius: 1mm;
    border-top-right-radius: 1mm;
    border-bottom-left-radius: 10mm;
    border-bottom-right-radius: 10mm;
    background-color: white;
    height: 82mm;

    overflow: hidden;
    z-index: 5;

    .card-image {
      position: absolute;
      top: 8mm;
      height: 41mm;
      width: 54mm;
      left: 7%;
      border: outset 3px gray;
      // border-top-left-radius: 70% 50%;
      // border-top-right-radius: 70% 50%;

      z-index: 4;

      .image-inner {
        position: relative;
        height: 100%;
        width: 100%;
        // border: solid 1px black;
        // border-top-left-radius: 77% 53%;
        // border-top-right-radius: 77% 53%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .card-image-full {
      position: relative;
      height: 100%;
      width: 100%;

      z-index: 4;

      img {
        width: 100%;
        height: auto;
      }
    }

  }

  div.card-footer {
    width: 100%;
    font-size: 5pt;
    position: absolute;
    bottom: -1mm;
    right: 0mm;

    p {
      margin: 0;
      text-align: right;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {

    &.card-name,
    &.card-type {
      text-transform: capitalize;
    }

    &.card-name {
      position: absolute;
      top: 1mm;
      left: 3%;
      width: 92%;
      text-align: center;
      z-index: 8;
      font-size: 12pt;

      &>div {
        padding: .15em;
      }
    }

    &.card-type {
      position: absolute;
      bottom: 33mm;
      left: 3%;
      width: 92.2%;
      z-index: 8;
      text-align: left;
      font-size: 10pt;

      &.descriptionless {
        bottom: 11mm;
      }

      &>div {
        padding: .15em;
      }
    }

    &.card-description {
      position: absolute;
      bottom: 6.8mm;
      left: 5%;
      width: 90%;
      height: 28mm;
      z-index: 7;
      color: black;
      text-align: left;
      font-size: 9.5pt;

      &>div {
        padding: .5em;
        text-align: justify;
      }
    }

    &.card-pw {
      position: absolute;
      bottom: 4mm;
      right: 3%;
      width: 20%;
      z-index: 8;
      text-align: center;
    }
  }

  .rounded-sides-inset {
    border: inset 3px gray;
    // border-top-left-radius: 6% 42%;
    // border-bottom-left-radius: 6% 42%;
    // border-top-right-radius: 6% 42%;
    // border-bottom-right-radius: 6% 42%;

    &>div {
      border: solid 1px black;
      // border-top-left-radius: 4% 42%;
      // border-bottom-left-radius: 4% 42%;
      // border-top-right-radius: 4% 42%;
      // border-bottom-right-radius: 4% 42%;
    }
  }
}


.card-wrapper.white {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }
}

.card-wrapper.black {
  .card-inner {
    background-color: $black;

    &>.rounded-sides-inset {
      border-color: $black;

      &>div {
        border-color: white;
      }
    }
  }

  .card-image {
    border: outset 3px $black;

    .image-inner {
      border: solid 1px white;
    }
  }

  .card-name {
    background: $black;
    color: white;
  }

  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: color.adjust(#000, $lightness: 60%);

    &.card-type,
    &.card-description {
      background-color: color.adjust(#000, $lightness: 60%, $alpha: -0.1);
    }
  }
}

.card-wrapper.green {
  .card-inner {
    background-color: $green;

    &>.rounded-sides-inset {
      border-color: $green;
    }
  }

  .card-image {
    border: outset 3px $green;

    .image-inner {
      border: solid 1px white;
    }
  }

  .card-name {
    background: radial-gradient(circle, black 0%, $green 75%);
    color: white;
  }

  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: color.adjust($green, $lightness: 55%);

    &.card-type,
    &.card-description {
      background-color: color.adjust($green, $lightness: 55%, $alpha: -0.1);
    }
  }

}

.card-wrapper.blue {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.red {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.azorius {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.boros {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.dimir {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.gruul {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.izzet {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.orzhov {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.rakdos {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.selesnya {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.simic {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.colorless {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}

.card-wrapper.multicolor {
  .card-inner {
    background-color: $white;
  }

  .card-image {
    border: outset 3px $white;

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $white;

    &.card-description {
      background-color: color.adjust($white, $alpha: -0.02);
      color: black;
    }
  }

}