@use 'sass:color';
@import '../styles/_colors';

@import './card-colors/black';
@import './card-colors/blue';
@import './card-colors/green';
@import './card-colors/red';
@import './card-colors/white';

@import './card-colors/colorless';
@import './card-colors/multicolor';

@import './card-colors/azorius';
@import './card-colors/boros';
@import './card-colors/dimir';
@import './card-colors/gruul';
@import './card-colors/izzet';
@import './card-colors/orzhov';
@import './card-colors/rakdos';
@import './card-colors/selesnya';
@import './card-colors/simic';


.card-wrapper {
  display: block;
  position: relative;
  z-index: 6;

  height: 3.5in;
  width: 2.5in;
  border-radius: 3mm;

  &.black-border {
    background-color: black;
    border: solid 3mm black;
    font-family: 'Beleren';

    & .card-name {
      font-family: 'BelerenCaps';
    }

    & .card-description {
      font-family: 'Plantin';
      font-weight: normal;

      & .flavor {
        font-style: italic;
      }
    }

    div.card-footer {
      color: white;
    }
  }

  &.white-border {
    background-color: white;
    border: solid 3mm white;
    font-family: 'Medieval';

    & .card-description {
      font-family: 'Plantin';
      font-weight: normal;

      & .flavor {
        font-style: italic;
      }
    }

    div.card-footer {
      color: black;
    }
  }

  &.silver-border {
    background-color: rgb(192, 182, 182);
    border: solid 3mm rgb(192, 182, 182);
    font-family: 'Beleren';

    & .card-description {
      font-family: 'Plantin';
      font-weight: normal;

      & .flavor {
        font-style: italic;
      }
    }
  }

  &.golden-border {
    background-color: rgb(175, 167, 118);
    border: solid 3mm rgb(175, 167, 118);
    font-family: 'Beleren';

    & .card-description {
      font-family: 'Plantin';
      font-weight: normal;

      & .flavor {
        font-style: italic;
      }
    }
  }

  .card-inner {
    display: block;
    border-top-left-radius: 1mm;
    border-top-right-radius: 1mm;
    border-bottom-left-radius: 10mm;
    border-bottom-right-radius: 10mm;

    // background-color: white;

    height: 82mm;

    overflow: hidden;
    z-index: 5;

    .card-image {
      position: absolute;
      top: 8mm;
      height: 41mm;
      width: 54mm;
      left: 7%;
      border-style: inset;
      border-width: 3px;
      // outline: solid 1px rgba(0, 0, 0, .4);

      // border-top-left-radius: 70% 50%;
      // border-top-right-radius: 70% 50%;

      z-index: 4;

      .image-inner {
        position: relative;
        height: 100%;
        width: 100%;
        // border: solid 1px black;
        // border-top-left-radius: 77% 53%;
        // border-top-right-radius: 77% 53%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .card-image-full {
      position: relative;
      height: 100%;
      width: 100%;

      z-index: 4;

      img {
        width: 100%;
        height: auto;
      }
    }

  }

  div.card-footer {
    width: 100%;
    font-size: 5.5pt;
    position: absolute;
    bottom: -1mm;
    right: 0mm;

    p {
      margin: 0;
      text-align: right;
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    // outline: 1px groove rgba(0, 0, 0, .3);

    &.card-name,
    &.card-type {
      text-transform: capitalize;
    }

    &.card-name {
      position: absolute;
      top: 1mm;
      left: 3%;
      width: 92%;
      text-align: center;
      z-index: 8;
      font-size: 12pt;

      &>div {
        padding: .15em;
      }
    }

    &.card-type {
      position: absolute;
      bottom: 33mm;
      left: 3%;
      width: 92.2%;
      z-index: 8;
      text-align: left;
      font-size: 10pt;

      &.descriptionless {
        bottom: 11mm;
      }

      &>div {
        padding: .15em;
      }
    }

    &.card-description {
      position: absolute;
      bottom: 6.8mm;
      left: 5%;
      width: 90%;
      height: 28mm;
      z-index: 7;
      color: black;
      text-align: left;
      font-size: 9.5pt;

      &>div {
        padding: .5em;
        text-align: left;
      }
    }

    &.card-pw {
      position: absolute;
      bottom: 4mm;
      right: 3%;
      width: 20%;
      z-index: 8;
      text-align: center;
    }
  }

  .rounded-sides-inset {
    border: inset 3px gray;
    border-top-left-radius: 6% 42%;
    border-bottom-left-radius: 6% 42%;
    border-top-right-radius: 6% 42%;
    border-bottom-right-radius: 6% 42%;

    &>div {
      border: solid 1px black;
      border-top-left-radius: 4% 42%;
      border-bottom-left-radius: 4% 42%;
      border-top-right-radius: 4% 42%;
      border-bottom-right-radius: 4% 42%;
    }
  }

  .card-pw.rounded-sides-inset {
    border: inset 3px gray;
    border-top-left-radius: 14% 42%;
    border-bottom-left-radius: 14% 42%;
    border-top-right-radius: 14% 42%;
    border-bottom-right-radius: 14% 42%;

    &>div {
      border: solid 1px black;
      border-top-left-radius: 11% 42%;
      border-bottom-left-radius: 11% 42%;
      border-top-right-radius: 11% 42%;
      border-bottom-right-radius: 11% 42%;
    }
  }
}