.card-wrapper.dimir {
    .card-inner {
        background-color: linear-gradient(90deg, $blue 0%, $black 100%);

        &>.rounded-sides-inset {
            border-color: $black;

            &>div {
                border-color: black;
            }
        }
    }

    .card-image {
        border: outset 3px $colorless;

        .image-inner {
            border: solid 1px black;
        }
    }

    .card-name {
        background: linear-gradient(90deg, $blue 0%, $black 100%);
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, $blue 0%, $black 100%);

        &>div {
            color: white;
            background: radial-gradient(black 0%, rgba(0, 0, 0, 0) 75%);
        }
    }

    .card-name,
    .card-description,
    .card-type,
    .card-pw {
        color: black;
        background-color: $colorless-bg;

        &.card-description {
            background: (linear-gradient(90deg, color.adjust($blue-bg, $alpha: -0.1) 0%, color.adjust($black-bg, $alpha: -0.1) 100%));
            color: black;
        }

        &.card-type {
            background-color: color.adjust($colorless-bg, $alpha: -0.1);
            border-image-slice: 1;
            border-image-source: linear-gradient(90deg, $blue 0%, $black 100%);
            color: black;
        }

        &.card-pw {
            border-color: $colorless;
        }
    }

}