.card-wrapper.izzet {
  .card-inner {
    &.texture1 {
      background: url('../../assets/imgs/texture1.png') repeat, linear-gradient(90deg, $blue 0%, $red 100%);
    }

    &.texture2 {
      background: url('../../assets/imgs/texture2.png') repeat, linear-gradient(90deg, $blue 0%, $red 100%);
    }

    &.texture3 {
      background: url('../../assets/imgs/texture3.png') repeat, linear-gradient(90deg, $blue 0%, $red 100%);
    }

    &.texture4 {
      background: url('../../assets/imgs/texture4.png') repeat, linear-gradient(90deg, $blue 0%, $red 100%);
    }

    &.texture5 {
      background: url('../../assets/imgs/texture5.png') repeat, linear-gradient(90deg, $blue 0%, $red 100%);
    }

    &.texture6 {
      background: url('../../assets/imgs/texture6.png') repeat, linear-gradient(90deg, $blue 0%, $red 100%);
    }

    &.texture7 {
      background: url('../../assets/imgs/t7-w.png') repeat, linear-gradient(90deg, $blue 0%, $red 100%);
    }

    &.texture8 {
      background: url('../../assets/imgs/t7-b.png') repeat, linear-gradient(90deg, $blue 0%, $red 100%);
    }

    &.texture9 {
      background: url('../../assets/imgs/golden-eff.jpeg') repeat, linear-gradient(90deg, $blue 0%, $red 100%);
    }

    &>.rounded-sides-inset {
      border-color: $red;

      &>div {
        border-color: black;
      }
    }
  }

  .card-image {
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, $blue 0%, $red 100%);

    .image-inner {
      border: solid 1px black;
    }
  }

  .card-name {
    background: linear-gradient(90deg, $blue 0%, $red 100%);
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, $blue 0%, $red 100%);

    &>div {
      color: white;
      background: radial-gradient(black 0%, rgba(0, 0, 0, 0) 75%);
    }
  }

  .card-name,
  .card-description,
  .card-type,
  .card-pw {
    color: black;
    background-color: $colorless-bg;

    &.card-description {
      background: (linear-gradient(90deg, color.adjust($blue-bg, $alpha: -0.1) 0%, color.adjust($red-bg, $alpha: -0.1) 100%));
      color: black;
    }

    &.card-type {
      background-color: color.adjust($colorless-bg, $alpha: -0.1);
      border-image-slice: 1;
      border-image-source: linear-gradient(90deg, $blue 0%, $red 100%);
      color: black;
    }

    &.card-pw {
      border-color: $colorless;
    }
  }

}