@font-face {
  font-family: 'BelerenCaps';
  src: url('../public/fonts/belerensmallcaps-bold.ttf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beleren';
  src: url('../public/fonts/beleren-bold_P1.01.ttf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Medieval';
  src: url('../public/fonts/MagicMedieval.ttf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Matrix';
  src: url('../public/fonts/ModMatrix.ttf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plantin';
  src: url('../public/fonts/mplantin.ttf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plantin';
  src: url('../public/fonts/mplantinit.ttf'), format('truetype');
  font-weight: normal;
  font-style: italic;
}

i.ms {
  border-radius: 50%;
  color: #0d0f0f;
  padding: 1.5pt;
  box-shadow: -.5pt .5pt black;
  margin-left: 1pt;
  margin-right: 1pt;

  &.green {
    background-color: #a3c095;
  }

  &.blue {
    background-color: #c1d7e9;
  }

  &.black {
    background-color: #c5c0d2;
  }

  &.white {
    background-color: #fbf8de;
  }

  &.red {
    background-color: #e79c72;
  }

  &.colorless {
    background-color: #cabdcb;
  }

  // &.ms-x,
  // &.ms-0,
  // &.ms-1,
  // &.ms-2,
  // &.ms-3,
  // &.ms-4,
  // &.ms-5,
  // &.ms-6,
  // &.ms-7,
  // &.ms-8,
  // &.ms-9,
  // &.ms-10,
  // &.ms-11,
  // &.ms-12,
  // &.ms-13,
  // &.ms-14,
  // &.ms-15,
  // &.ms-16,
  // &.ms-17,
  // &.ms-18,
  // &.ms-19,
  // &.ms-20 {
  //   font-size: 8pt;
  //   padding: 1pt;
  // }
}


i.ms.ms-text {
  background-color: transparent;
  box-shadow: none;

  &.white {
    color: black;
  }

  &.black {
    color: white;
  }
}

.card-renderer {
  background-color: lightgray;
}